# Ignore virtual environments
.venv/
env/
venv/
.env
*.env
__pycache__/
*.pyc
*.pyd
*.dll
*.lib
*.so
*.bin
*.exe
# Ignore Python cache files
__pycache__/
*.py[cod]
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore macOS system files
.DS_Store
# Ignore Windows system files
Thumbs.db
# Ignore logs
*.log
# Ignore environment files
.envvenv/